<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Postal Rate Calculator</h1>
  </div>
</div>

<div class="container">

  <form action="/calculate" class="form-horizontal" id="main-form">
    <div class="form-group">
      <label for="weight-input" class="col-sm-2 control-label">Item Weight</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="weight-input" placeholder="00">
      </div>
    </div>
    <div class="form-group">
      <label for="mail-input" class="col-sm-2 control-label">Type of Mail</label>
      <div class="col-sm-10">
        <select class="form-control" id="mail-input">
          <option>Letters (Stamped)</option>
          <option>Letters (Metered)</option>
          <option>Large Envelopes (Flats)</option>
          <option>First-Class Package Service—Retail</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
